@import "tailwindcss";

@keyframes blob-one {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes blob-two {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(-30px, 50px) scale(0.9); }
  66% { transform: translate(20px, -20px) scale(1.1); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob-one {
  animation: blob-one 15s infinite;
}

.animate-blob-two {
  animation: blob-two 12s infinite;
}